/* 
#0f0c24 black-blue
#a350a3 purple
#c1436d pink
 */
@font-face {
    font-family: bleach;
    src: url(../font/Bleach-8jnJ.ttf);
}

$color-purple: #a350a3;
$color-pink: #c1436d;
$color-bg: #1d2228;
$color-bg-half: hsla(213, 15%, 14%, 0.952);
$color-white: hsl(300, 22%, 93%);
$color-white-half: hsla(300, 22%, 93%, 0.541);
$color-white-active: hsla(300, 22%, 93%, 0.85);
//
$video-width: 50vw;
//
$glow: 
        0 0 3px $color-pink,
        0 0 10px $color-pink,
        0 0 15px $color-pink,
        0 0 20px $color-purple,
        0 0 40px $color-purple,
        0 0 50px $color-purple,
        0 0 70px $color-purple,
        0 0 90px $color-purple;

//
html, 
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.box {
    height: 100vh;
}
.wrapper {
    padding: 0em 3em 0em 3em;
    max-width: 70rem;
    margin: 0 auto;
}
.stage-one {
    height: 20vh; // 80
    // padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg;
}
section {
    .header{
        background-color: $color-bg;
        h1 {
            font-size: 3rem;
            text-align: center;
            color: $color-white;
            // text-shadow: $glow;
        }
    }
}

.stage-two {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: $color-bg;
    // background-color: red;
    // padding-top: 0;
    height: 75vh; // 5
    display: flex;
    // align-items: center;
    justify-content: center;
    .video {
        background-color: royalblue;
        // width: $video-width;
        // width: 50vw; //aq
        // height: 50vh;
    }
    .search {
        text-align: center;  
        display: flex;
        justify-content: center;
        .bt-next{
            // background-color: red;
            width: 100%;
        }
        .bt-prev {
            // background-color: blue;
            width: 100%;
        }
    }
}
button {
    font-size: 2rem;
    background-color: $color-bg;
    border: 0;
    color: $color-white;
    width: 100%;
    height: 5rem;
    border: 1px solid $color-white;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: $color-white;
        color: $color-bg;
    }
    &:active {
        transition: 20ms ease-in-out 10ms;
        // transform: translateY(2px);
        background-color: $color-white-active;
        
        
    }
}

.download{
    // width: calc(50vw /2);
    width: 100%;
}
.anime{
    width: 100%;
}
select {
    text-align: center;
    font-size: 2rem;
    height: 5rem;
    width: 100%;
    border: 1px solid $color-white;
    background-color: $color-bg;
    color: $color-white;
    &:hover {
        background-color: $color-white;
        color: $color-bg;
    }
}
.stage-three {
    p {
        color: $color-white-half;
        display:contents;
    }
    a {
        text-transform: uppercase;
        color: $color-white-half;
        font-weight: bolder;
        text-decoration: none;
        &:hover{
            transition: 250ms linear;
        }
    }
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: $color-bg-half;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
//// mob

.main,
.video {
    width: 50rem; 
    height: 50vh;
    // width: 100%; //490px min
}

@media screen and (max-width: 900px) {
    .main,
    .video {
        width: 100vw;
        // width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .main,
    .video {
        height: 25rem;
        // width: 100%;
    }
}
@media screen and (max-width: 358px) {
    section {
        .header{
            h1 {
                font-size: 2rem;
            }
        }
    }
    select, button {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 280px) {
    select, button {
        font-size: 1.2rem;
    }
}


@media screen and (max-height: 748px) {
    .main,
    .video{
        height: 50vh;
    }
    // .stage-two {
    //     padding-top: 0;
    //     padding-bottom: 2rem;
    // }
}

@media screen and (max-height: 640px) {
    .main,
    .video {
        height: 40vh;
    }
    
}

